<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSS Grid Photo Gallery</title>
    <link rel="stylesheet" href="../styles/grid.css">
</head>

<body>

    <h1>Photo Gallery</h1>

    <div class="gallery">
        <div class="photo a"><img src="../assets/img/OIP (3).jpeg" alt="Photo A"></div>
        <div class="photo b"><img src="../assets/img/OIP (5).jpeg" alt="Photo B"></div>
        <div class="photo c"><img src="../assets/img/OIP (6).jpeg" alt="Photo C"></div>
        <div class="photo d"><img src="../assets/img/OIP (7).jpeg" alt="Photo D"></div>
        <div class="photo e"><img src="../assets/img/OIP (8).jpeg" alt="Photo E"></div>
        <div class="photo f"><img src="../assets/img/IMG_profile.HEIC" alt="Photo F"></div>
    </div>

</body>

</html>